body {
    background-color: aliceblue;
}

.mycontent-start {
    padding-top: 0px;
    /* 70 pixels is needed to padding-top due to the fixed navbar*/
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.oswald {
    font-family: 'Oswald', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}
