body {
    background: linear-gradient(to left, #003973, #E5E5BE);
    font-family: 'Ubuntu', sans-serif;
}

#main {
    background-color: white;
    margin: 100px auto;
    width: 425px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#main #title #todo {
    background-color: steelblue;
    color: linen;
    font-size: 26px;
    width: 343px;
    float: left;
    padding: 13px;
}

#main #title #plus {
    background-color: #2E4268;
    color: white;
    font-size: 26px;
    width: 30px;
    float: left;
    padding: 13px;
    text-align: center;
    cursor: pointer;
}

input[type=text] {
    background-color: #EEE;
    font-size: 20px;
    width: 425px;
    padding: 12.5px;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

input[type=text]:focus {
    outline: none;
    background-color: white;
    border: 1px solid steelblue;
}

#main .item {
    /*keeps the trash div the same height as details*/
    display: flex;
    width: 425px;
}

.item .trash {
    background-color: indianred;
    color: rgba(0, 0, 0, 0);
    text-align: center;
    vertical-align: middle;
    width: 0;
    float: left;
    cursor: pointer;
    transition-property: width;
    transition-duration: 0.1s;
}


/* Original implementation used jQuery UI slide effect
 * accomplish the same effect...Lesson learned! First
 * explore if CSS has a solution!!!
 */

.item:hover .trash {
    width: 21px;
    padding: 13px;
    color: linen;
}

#main .item .details {
    width: 352px;
    padding: 13px;
    float: left;
    vertical-align: middle;
    cursor: pointer;
}

#main .item .crossout {
    color: #AAA;
    text-decoration: line-through;
    text-decoration-color: #AAA;
}

div.item:nth-child(even) {
    background-color: #EEE;
}
