table {
    margin-top: 25px;
}

th,
td {
    text-align: center;
    font-size: 200%;
}

.table>tbody>tr>td.home-score,
.table>tbody>tr>td.away-score {
    font-size: 800%;
    background-color: #EEE;
    color: white;
    border: 1px solid #CCC;
}

.btn-primary {
    margin-top: 10px;
    color: #337ab7;
    background-color: #fff;
    border-color: #2e6da4;
}
