body {
    font-family: sans-serif;
}

h2 {
    font-family: cursive;
}

ol {
    font-family: monospace;
    font-size: 125%;
}

/*  star (selects everything) */

* {
    border: 1px dotted grey;
}


/*  ID selector */

#special {
    background-color: yellow;
}


/*  class selector */

.completed {
    text-decoration: line-through;
}


/*  element selector */

li {
    border: 2px solid rgba(60, 120, 200, 0.5);
}


/*  descendent selector */

ol li {
    background-color: springgreen;
}


/*  adjacent selector */

h2 + ul {
    text-decoration: underline;
    color: darkorange;
}


/*  attribute selector */

input[type="checkbox"] {
    transform: scale(1.25);
}


/*  nth selector 
 *
 *  specifying a number (as we do in this case) will only affect the nth element,
 *  however, specifying 'odd' or 'even' will affect more than just the nth element.
 */

li:nth-of-type(2) {
    font-style: italic;
}