html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(to bottom right, #222, #777);
}

.title {
    color: linen;
    background-color: #363687;
}

.menu {
    color: darkslateblue;
    background-color: linen;
    cursor: pointer;
}

.menu .select {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 9px;
    border-radius: 0 0 10px 10px;
    color: linen;
    background-color: #363687;
}

.color-square {
    display: inline-block;
    color: #111;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 100px;
    cursor: pointer;
}

.hide-square {
    display: none;
}

.emphasize {
    font-weight: bold;
    letter-spacing: 1.5px;
}

.container {
    width: 800px;
}
