<% include partials/header.ejs %>

<h1>Blog Site</h1>

<a href="/blog-entries/new">New blog</a>

<% blogs.forEach(function (blog) { %>
<hr>
<div>
    <div>
        <image src='<%= blog.image; %>'>
    </div>
    <div>
        <h3><%= blog.title; %></h3>
    </div>
    <div>
        <%= blog.message; %>
    </div>
    <div>
        <a href="/blog-entries/<%= blog._id %>">Read more</a>
    </div>
</div>
<% }); %>
    
<% include partials/footer.ejs %>