<h3>Movie Search App</h3>
<form action="/search-results" method="GET">
	<input type="text" placeholder="search movies" name="term">
	<input type="submit">
</form>
<p><em>results from OMDb API <a href="http://www.omdbapi.com">(www.omdbapi.com)</a></em></p>