<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Steven DeLoach (sfdeloach@altamonte.org)">
    <meta name="description" content="Landing page for Channel 14">
    <meta name="keywords" content="ASPD Altamonte Springs Police Department Channel 14 65 Ten 43">
    <title>Channel14</title>
    <!--Style Sheets-->
    <link rel="stylesheet" type="text/css" href="../styles/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css">
</head>

<body>
    <div class="container">
        <div class="channel14">
            <span class="channel">Channel</span>
            <span class="fourteen">14</span>
        </div>
        <div class="form">
            <form action='/add-post' method='POST'>
                <fieldset>
                    <legend>65 Ten 43?</legend>
                    <div class="formTextarea">
                        <textarea name="message" rows="8" cols="55"></textarea>
                    </div>
                    <div class="formTitle">
                        <input type="text" name="title" class="title" placeholder="Enter a title...">
                    </div>
                    <div id="formButtons">
                        <!-- Attach file button goes here -->
                        <button type="submit" id="submit"><i class="fa fa-paper-plane fa-lg" aria-hidden="true"></i></button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="posts">
            <div class="post">
                <div class="postHeader">
                    <span class="postTitle">Homeless camp</span>
                    <span class="postTimeStamp">8:48 AM, Sat, Feb 11, 2017</span>
                </div>
                <hr>
                <div class="postMessage">Pergo coctione, et ego, et tu oblivisci Pinkman. Obliviscendum hoc unquam factum. Intelligamus hoc in sola SINGULTO multo aliter atque fructuosa negotium structura. Malo B. Option. </div>
                <hr>
                <div class="postFooter">
                    <span class="postOptions">
                    <span class="postOptionOpen">
                        <i class="fa fa-sliders fa-lg" aria-hidden="true"></i>
                    </span>
                    <span class="postReply">
                        <i class="fa fa-reply fa-lg" aria-hidden="true"></i>
                    </span>
                    <span class="postEdit">
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </span>
                    <span class="postTrash">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </span>
                    <span class="posterID">
                    <span class="postName">Officer Jane Doe</span>
                    <span class="postSquad">Alpha</span>
                    </span>
                    </span>
                </div>
            </div>
            <div class="post">
                <div class="postHeader">
                    <span class="postTitle">Homeless camp sighted</span>
                    <span class="postTimeStamp">8:35 AM, Sat, Feb 11, 2017</span>
                </div>
                <hr>
                <div class="postMessage">Ille vivere. Ut ad te quaerebam ... purgare caeli. Sunt uh ... nonnullus propter errorem qui de rebus inter nos et iacere puto suus in causa, id est in mensa. Levir meus, priusquam oppugnarent tempus quis, admonere dicitur. Credo quod idem mihi praesidium. </div>
                <hr>
                <div class="postFooter">
                    <span class="postOptions">
                    <span class="postOptionOpen">
                        <i class="fa fa-sliders fa-lg" aria-hidden="true"></i>
                    </span>
                    <span class="postReply">
                        <i class="fa fa-reply fa-lg" aria-hidden="true"></i>
                    </span>
                    <span class="postEdit">
                        <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                    </span>
                    <span class="postTrash">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </span>
                    </span>
                    <span class="posterID">
                    <span class="postName">Officer John Doe</span>
                    <span class="postSquad">Alpha</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
    <!-- Unused SCRIPTS 
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    -->
</body>

</html>
