<% include ../partials/header.ejs %>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Add new comment to <%=campground.name%></h1>
            <div class="col-md-4 col-md-offset-4">
                <form action="/campgrounds/<%=campground._id%>/comments" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" placeholder="enter comment here...">
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                    </div>
                </form>
                <a href="/campgrounds/<%=campground._id%>">Return to <%=campground.name%></a>
            </div>
        </div>
    </div>
<% include ../partials/footer.ejs %>