<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Steven DeLoach (sfdeloach@altamonte.org)">
    <meta name="description" content="Landing page for Channel 14">
    <meta name="keywords" content="ASPD Altamonte Springs Police Department Channel 14 65 Ten 43">
    <title>Channel14</title>
    <!--Style Sheets-->
    <link rel="stylesheet" type="text/css" href="../styles/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/css/style.css">
</head>

<body>
