<% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive center-block img-thumbnail" src="<%= campground.image %>" alt="image for <%= campground.name %>">
            </div>
            <div class="text-center page-header col-md-12">
                <h1><%= campground.name %> <small>campground details</small></h1>
            </div>
            <div class="well col-md-8 col-md-offset-2">
                <p><%= campground.description %></p>
            </div>
        </div>
    </div>
<% include partials/footer.ejs %>