<% include ./partials/header.ejs %>
    <h1>Login Page</h1>
    <form action="/login" method="POST">
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="password" name="password"><br><br>
        <input type="submit">
    </form>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Sign Up!</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
<% include ./partials/footer.ejs %>