<!DOCTYPE html>


<html>

<head>
    <meta charset="UTF-8">
    <title>secret page</title>
</head>

<body>
    <h1>You have reached the secret page</h1>
    <img src="https://media.giphy.com/media/UwSoH9niSpvZC/giphy.gif" alt="Can you feel it!" height="300">
</body>

</html>