.container.main {
    margin-top: 7em;
}

.ui.items>.item>.image {
    margin: auto;
}

i.icon {
    font-size: 2em;
}

.delete-buttons {
    display: inline;
}
.ui.button>.icon:not(.button) {
    vertical-align: baseline;
}

i.icon.chevron.right:before {
    vertical-align: text-bottom;
}